.container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 200px;
}
label {
  margin-right: 10px;
  color: green;
}

select {
  margin-top: 3px;
  padding: 3px;
  width: 200px;
  height: 30px;
}
