.container_petsList {
    padding-top: 150px;
    padding-bottom: 100px;
}

.dropdown_container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
}
  
.dropdown_menu {
    display: flex;
    gap: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
.dropdown_label {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}
  
.dropdown_label:hover,
.dropdown_label:focus-within {
    border-color: darkgreen;
}
  
.reset_filter {
    background-color: #ff6b6b;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
  
.reset_filter:hover {
    background-color: #ff4b4b;
}

.petList_box{
    padding: 0 100px;
}
  
.petList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;

    
}
  
.petItem {
    list-style: none;
    max-width: 400px;
}
  
.petCard {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(92, 134, 92);
    overflow: hidden;
    transition: transform 0.2s;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.petCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px rgb(101, 250, 51);
}
  
.petCard_img {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}
  
.petCard_img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
  
.petCard_body {
    padding: 0px 10px 10px;
    text-align: center;
    width: 100%;
}
  
.petCard_body p {
    margin: 5px 0;
    text-align: left;
}

.petCard_body_caption {
    height: 130px;
}
  
.petCard_body h1 {
    font-size: 18px;
    color: #389324;
    margin-top: 25px;
    margin-bottom: 25px;
}
  
.petCard_body h3 {
    font-size: 14px;
    color: #6c757d;
}

.petCard_body_location {
    display: flex;
    justify-content: space-between;
}
  
.petCard_btn {
    padding: 15px;
    display: flex;
    justify-content: end;
    font-weight: 500;
}
  
.petCard_btn a {
    background-color: #389324;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
  
.petCard_btn a:hover {
    background-color: #246117;
}
