.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 100px;
  background: linear-gradient(237deg, #def6f5 39.48%, #829090 161.01%);
}

.container_right {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 100px auto;
  width: 657px;
  height: 690px;
  border: 1px solid #9d9595;
  background: #fff;
  transform: rotate(-3deg);
  flex-shrink: 0;
}
.container_left {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 100px auto;
  width: 657px;
  height: 690px;
  border: 1px solid #9d9595;
  background: #fff;
  transform: rotate(3deg);
  flex-shrink: 0;
}
.container_front {
  
  width: 657px;
  height: 690px;
  border: 1px solid #9d9595;
  background: #fff;

}
.flex-row {
  display: flex;
  margin-bottom: 1em;
}
.flex-row h1 {
  color: #54cd38;
  font-family: Nobile;
  font-size: 40px;
  font-weight: 700;
}
.flex-row p {
  color: #757575;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
}
.login{
  position: relative;
  border-radius: 10px;
  border: 1px solid #9d9595;
  width: 350px;
  
}
.lf_label {
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #B2ADAD;
  cursor: pointer;
}
.lf--input {
  flex: 1;
  padding: 1em;
  border: 0;
  color: #B2ADAD;
  font-size: 1rem;

  &:focus {
    outline: none;
    transition: transform .15s ease;
    transform: scale(1.1);
  }
}
.login img {
  width: 50px;
  height: 50px;
   padding: 5px;
   
}

.login input {
  width: 300px;
  height: 50px;
  
}
