.homePageContainer {
  display: flex;
  justify-content: center;
  align-items:flex-start;
  margin: 40px 80px 0px 80px;
  gap: 40px;
  position: relative;
}

.content_buttons{
  display: flex;
  flex-direction: column;
}

.content {
  text-align: justify;
  font-family: "Hero Light Regular", sans-serif;
  font-size: 33px;
  line-height: 1.2;
  color: #777575;
  text-align: justify;
}

.text1 {
  padding-top: 130px;
  margin: 0 50px;
  text-align: center;
  font-family: "Kaushan Script", sans-serif;
  font-size: 55px;
  color: #54cd38;
  letter-spacing: 3px;
  word-spacing: 17px;
}
.round_buttons {
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
}
.found_pet_btn {
  /* position: absolute;
  top: 780px; */
  padding: 30px;
  width: 320px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #6ee0da;
  transform: translateX(50%);
  transform: translateY(15%);
}

.how_work_btn {
  /* position: absolute;
  top: 910px;
  right: 310px; */
  padding: 30px;
  width: 260px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #54cd38;
  transform: translate(-5%, 10%);
}

.found_pet_link {
  text-decoration: none;
  font-family: "Kaushan Script", sans-serif;
  font-size: 40px;
  color: white;
  text-align: center;
}
.how_work_btn:hover{
  box-shadow: 0 0 15px 8px rgba(71, 189, 45, 0.5);
  background-color: #419f2c; 
}
.found_pet_btn:hover {
  box-shadow: 0 0 15px 8px rgba(53, 197, 192, 0.5);
  background-color: #56ccc6;
}

.lookingFor {
  display: block;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 20px;
}
.lookingForTitle {
  font:
    18px Helvetica,
    Ubuntu,
    sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  color: #54cd38;
  margin-top: 80px;
  margin-bottom: 30px;
}

.dogs_cats_container {
  display: flex;
  justify-content: center;
  gap: 150px;
}

.dogs_cats img:hover {
  opacity: 0.8;
  box-shadow: 0 0 15px 8px rgba(71, 189, 45, 0.5);
}
.text_lapa {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-family: "Kaushan Script", sans-serif;
  font-size: 60px;
  color: #54cd38;
  letter-spacing: 3px;
  word-spacing: 17px;
  margin-bottom: 40px;
}
.text_lapa img {
  margin-top: 15px;
  height: 80px;
  width: 80px;
}
