.container_pet_card {
  margin-top: 150px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* height: 90vh; */
}

.box_petCard {
  width: 80%;
  max-width: 1200px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(15, 133, 13, 0.5);
  padding: 20px;
}

.pet_card_date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.pet_card_createdate {
  font-size: 16px;
  color: #888;
}

.back_button {
  background: none;
  border: none;
  cursor: pointer;
}

.back_button svg {
  width: 24px;
  height: 24px;
  fill: #050505;
}

.petCard_parameters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.petCard_parameters p {
  margin: 0;
  font-size: 16px;
  color: #888;
}

.petCard_main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  /* align-items: flex-start; */
  margin-bottom: 20px;
}

.petCard_photo_container {
  position: relative;
  width: 350px;
  height: 350px;
  margin-right: 20px;
}

.petCard_photo_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.photo_navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.photo_navigation button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 35px;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.petCard_caption_description {
  flex: 1;
  border: 1px solid green;
  max-width: 65%;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f9f9f9;
  padding: 20px 20px;
}

.petCard_caption {
  font-size: 24px;
  font-weight: bold;
  color: green;
  margin-bottom: 10px;
}

.petCard_description {
  font-size: 18px;
  color: #555;
  text-align: justify;
}

.petCard_location_author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.petCard_location p,
.petCard_author p {
  margin: 0;
  font-size: 16px;
  color: #888;
}

.petCard_location p{
  font-size: 24px;
text-align: left;
}

.petCard_authorContacts {
  margin-top: 5px;
  background-color: #4CAF50;
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.petCard_authorContacts:hover {
  background-color: #2d6f31;
}

.modal_content{
  display:flex;
  flex-direction: column;
  justify-content: center;
  font-family:"Ubuntu", sans-serif;
}

.modal_content p {
  margin: 10px 0;
}

.modal_content button,
.modal_content a {
  background: none;
  border: none;
  color: #4CAF50;
  cursor: pointer;
  text-decoration: underline;
}