* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}

.register {
  margin-top: 150px;
  width: 100%;
}

.outerBox_register {
  background: #f9f9f9;
  background: -moz-linear-gradient(
    top,
    rgba(248, 248, 248, 1) 0%,
    rgba(249, 249, 249, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(248, 248, 248, 1) 0%,
    rgba(249, 249, 249, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(248, 248, 248, 1) 0%,
    rgba(249, 249, 249, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(248, 248, 248, 1) 0%,
    rgba(249, 249, 249, 1) 100%
  );
  background: linear-gradient(
    top,
    rgba(248, 248, 248, 1) 0%,
    rgba(249, 249, 249, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#f9f9f9', GradientType=0);
  -webkit-box-shadow: 0 1px 0 #fff inset;
  -moz-box-shadow: 0 1px 0 #fff inset;
  -ms-box-shadow: 0 1px 0 #fff inset;
  -o-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  border: 1px solid #c4c6ca;
  margin: 0 auto;
  padding: 25px 0 0;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  max-width: 700px;
  margin-bottom: 50px;
}

.outerBox_register::before,
.outerBox_register::after {
  background: #f9f9f9;
  background: -moz-linear-gradient(
    top,
    rgba(248, 248, 248, 1) 0%,
    rgba(249, 249, 249, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(248, 248, 248, 1) 0%,
    rgba(249, 249, 249, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(248, 248, 248, 1) 0%,
    rgba(249, 249, 249, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(248, 248, 248, 1) 0%,
    rgba(249, 249, 249, 1) 100%
  );
  background: linear-gradient(
    top,
    rgba(248, 248, 248, 1) 0%,
    rgba(249, 249, 249, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#f9f9f9', GradientType=0);
  border: 1px solid #c4c6ca;
  content: "";
  display: block;
  height: 100%;
  left: -1px;
  position: absolute;
  width: 100%;
}

.outerBox_register::before {
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
  top: 0;
  z-index: -2;
}

.outerBox_register::after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
  top: 0;
  z-index: -1;
}

.outerBox_register h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #54cd38;
  font:
    bold 25px Helvetica,
    Ubuntu,
    sans-serif;
  letter-spacing: -0.05em;
  line-height: 20px;
  margin: 10px 0 30px;
}

.form_group_register {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.form_group_register input[type="text"] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow:
    0 1px 0 #fff,
    0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  -moz-box-shadow:
    0 1px 0 #fff,
    0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  -ms-box-shadow:
    0 1px 0 #fff,
    0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  -o-box-shadow:
    0 1px 0 #fff,
    0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  box-shadow:
    0 1px 0 #fff,
    0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 0 100px;
  width: 500px;
  padding: 5px;
  border: 1px solid #c8c8c8;
  background: #eae7e7;
  box-sizing: border-box;
  color: #777;
  font:
    15px Helvetica,
    Arial,
    sans-serif;
}

.form_group_register input:focus {
  -webkit-box-shadow: 0 0 2px #25dc1b inset;
  -moz-box-shadow: 0 0 2px #25dc1b inset;
  -ms-box-shadow: 0 0 2px #25dc1b inset;
  -o-box-shadow: 0 0 2px #25dc1b inset;
  box-shadow: 0 0 2px #25dc1b inset;
  background-color: #fff;
  border: 1px solid #25dc1b;
  outline: none;
}

.form_group_register input[type="text"],
.form_group_register input[type="email"],
.form_group_register input[type="password"] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow:
    0 1px 0 #fff,
    0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  -moz-box-shadow:
    0 1px 0 #fff,
    0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  -ms-box-shadow:
    0 1px 0 #fff,
    0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  -o-box-shadow:
    0 1px 0 #fff,
    0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  box-shadow:
    0 1px 0 #fff,
    0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 0 100px;
  width: 500px;
  padding: 5px;
  border: 1px solid #c8c8c8;
  background: #eae7e7;
  box-sizing: border-box;
  color: #777;
  font:
    15px Helvetica,
    Arial,
    sans-serif;
}

.uploadGroup_register {
  margin-bottom: 20px;
}

.uploadControls_register {
  position: relative;
  display: inline-block;
  margin: 10px 10px;
  width: 150px;
  height: 150px;
  border: 1px solid #cec9c8;
  background: #f0f1f1;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.photo_register {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar_placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #9d9595;
}


.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  height: 12px;
  text-align: center;
}

.formGroup_checkboxGroup {
  display: flex;
  justify-content: center;
  gap: 10px;
  text-align: center;
}
.formGroup_checkboxGroup label {
  color: rgb(54, 55, 54);
}

.formButton_register {
  margin-top: 25px;
  margin-bottom: 20px;
  width: 250px;
  height: 40px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #68d74e;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.formButton_register:hover {
  background-color: #378724;
  opacity: 0.8;
  color: white;
  font-weight: bold;
}

.accountExist {
    color: rgb(54, 55, 54);
  padding-bottom: 40px;
}

.accountExist_login:hover {
  text-decoration: underline;
  color: darkgreen;
}

.checkboxGroup_link {
  text-decoration: none;
  color: green;
}
.checkboxGroup_link:hover {
  text-decoration: underline;
  color: darkgreen;
}
.form_control_register{
  position: relative;
}

.toggle_password_register {
  position: absolute;
  right: 110px;
  top: 365px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.icon_register {
  width: 20px;
  height: auto;
}
