.avert_container {
  min-height: 500px;
  flex: 1;
  min-width: 200px;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.avert_cards_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.avert_card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.5s,
    box-shadow 0.2s;
}

.avert_card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.avert_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avert_deadline {
  margin-bottom: 5px;
  font-size: 12px;
  color: #b60707;
  display: flex;
  justify-content: end;
}

.avert_buttons {
  display: flex;
  gap: 5px;
}

.avert_buttons a,
.avert_buttons button {
  text-decoration: none;

  padding: 5px 15px; /* Уменьшенные отступы */
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px; /* Уменьшенный размер текста */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  background-color: green;
  cursor: pointer;
  transition: background-color 0.5s;
}

.avert_buttons a:hover,
.avert_buttons button:hover {
  background-color: #5cd33f;
}

.avert_buttons button {
  background-color: #b0424d;
}

.avert_buttons button:hover {
  background-color: #df848d;
}

.avert_caption {
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.3s;
  text-decoration: none;
  font-size: 16px;
}

.avert_caption:hover {
  color: rgba(10, 80, 15, 1);
  text-decoration: underline;
}
