body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* montserrat-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  src: url("/src/fonts/montserrat-v26-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("/src/fonts/montserrat-v26-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("/src/fonts/montserrat-v26-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("/src/fonts/montserrat-v26-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-family: "Kaushan Script";
  src:
    local("Kaushan Script"),
    local("KaushanScript-Regular"),
    url("/src/fonts/KaushanScript-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rock Salt";
    src:
    local("Rock Salt Regular"),
    local("RockSalt-Regular"),
    url("/src/fonts/RockSalt-Regular.woff2") format("woff2");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hero Light Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Hero Light Regular'), url('/src/fonts/HeroLight-Regular.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Hero Light Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Hero Light Bold'), url('/src/fonts/HeroLight-Bold.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Hero Light Light';
  font-style: normal;
  font-weight: normal;
  src: local('Hero Light Light'), url('/src/fonts/HeroLight-Light.woff') format('woff');
  }
